<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Menu !{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          {% block stylesheets %}<link href="{{ asset('css/menu.css') }}" rel="stylesheet" media="all" type="text/css"> {% endblock %}
          {% block javascript %}<script type="text/javascript" src="{{ asset('js/menu.js') }}"  ></script>{% endblock %}
    </head>

    <body>
      
        <h1>Bienvenue sur l'Intranet de InSociety</h1>
        <img id="imgmenu" src="img/InSociety0.png" width="160px">


    <div class="exemple" id="ex2">
      <ul id="nav"><!--
    --><li><a id="a" href="{{path('accueil')}}">Accueil</a></li><!--
    --><li><a id="a" href="{{path('myspace')}}">Mon Espace</a></li><!--
    --><li><a id="a" href="#">Ressources</a><!--
        --><ul><!--
            --><li><a id="ss" href="{{path('docs')}}">Gestion Document</a></li><!--
            --><li><a id="ss" href="{{path('events')}}">Gestion Evènement</a></li><!--
            --><li><a id="ss" href="{{path('salles')}}">Gestion Salle</a></li><!--
        --></ul><!--
      --></li><!--
    --><li><a id="a" href="{{ path('connexion') }}">Déconnexion</a></li>
      </ul>
    </div>
    <div class="bloc" id="contenu">
   {% block body %}{% endblock %}
    </div>
  
 {% block javascripts %}{% endblock %}
    
    <h4 id="real">Webmaster - Réalisé par MAC, Portail Collaboratif </h4>
        <footer id="menu">
        <ul><u><bold>Entreprise :</bold></u></ul>
          <li><a id="f" href="{{path('annuaire')}}">Annuaire</a></li>
          <li><a id="f" href="{{path('plan')}}">Plan du site</a></li>

        <ul><u><bold>Liens Utiles :</bold></u></ul>
          <li><a id="f" href="{{path('contact')}}">Contacter-nous</a></li>
          <li><a id="f" href="#"></a></li>

        <ul><u><bold>Besoin d'aide ?</bold></u></ul>
          <li><a id="f" href="#">Foire aux Questions</a></li>
      </footer>
        
    </body>

  
</html>