{% extends 'menu.html.twig' %}

{% block title %}Calendrier !{% endblock %}
{% block body %}  
    
<div>        <div id="calendar-holder" style="width:500px; height:440px; margin-top: 10px; margin-left:10px; margin-right:10px;"></div></div>
    
       
       <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>

<style>



</style>
{% endblock %}