{% extends 'menu.html.twig' %}

{% block title %}Evènement !{% endblock %}
{% block body %}  


<nav>
 


 <dialog id="addEvt">   {{ form(eventform)}}  </dialog>
 <dialog id="editEvt">   {{ form(eventform)}}  </dialog>

 <menu>
   <a id="cal" href="{{path('calendrier')}}"><img id="ag" src="img/agenda.png" width="80px" height="80px" align="left"></a>
 	<img id="add" src="img/PlusBleu0.png" width="85px" height="85px" align="right">
  <img id="fresh" src="img/refresh.png" width="85px" height="85px" align="right">

 </menu>


<div id="bodyevt">
  <table width="80%" border="1"> 
    <tr>
    <td align="center" width="15%"><b>Nom de l'évènement</b></td>
    <td align="center" width="15%"><b>Description/Type</b></td>
    <td align="center" width="10%"><b>Date de Début</b></td>
    <td align="center" width="8%"><b>Date de Fin</b></td>
    <td align="center" width="12%"><b>Heure de Début</b></td>
    <td align="center" width="10%"><b>Heure de Fin</b></td>
    <td align="center" width="10%"><b>Lieu</b></td>
    <td align="center" width="10%"><b>Salle</b></td>
    <td align="center" width="6%"><b>Outils</b></td> 
    </tr>
      {% for evt in liste %}
       {% set fooo = evt.nomevt|split('.') %}
    <tr>
      <td>{{evt.nomevt}}</td>
      <td>{{evt.type}}</td>
      <td>{{evt.jourD|date('d-m-Y')}}</td>
      <td>{{evt.jourF|date('d-m-Y')}}</td>
      <td>{{evt.hDebut|date('H:i:s')}}</td>
      <td>{{evt.hFin|date('H:i:s')}}</td>
      <td>{{evt.lieu}}</td>
      <td>{{evt.idSr.nomsr}}</td>
      <td align="center">
        <a href="#"><img src="img/modif.png" width="30px" height="30px"></a>
        <a href="/deleteEvt?idEvt={{evt.idEvent}}"><img src="img/supp.png" width="30px" height="30px" ></a>
      </td>
    </tr>
    {% endfor %} 
    </table>
    
</div>
 </nav>

 <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>

 	<script>
  //Action image add
  (function() {
    var updateButton = document.getElementById('add');
    var cancelButton = document.getElementById('form_Annuler');


    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      document.getElementById('addEvt').showModal();
    });

    // Bouton pour fermer la boîte de dialogue
    cancelButton.addEventListener('click', function() {
      document.getElementById('addEvt').close();
    });

  })();

  //Action image edit
  /*
  (function() {
    var updateButton = document.getElementById('edit');
    var cancelButton = document.getElementById('form_Annuler');


    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      document.getElementById('editEvt').showModal();
    });

    // Bouton pour fermer la boîte de dialogue
    cancelButton.addEventListener('click', function() {
      document.getElementById('editEvt').close();
    });

  })();

*/
    

</script>


<style type="text/css">
table{ margin-left: 9%; position: absolute; }
img#add { margin-right: 2.5%; }
img#fresh {     margin-top: 8%;    margin-right: -5%; }


input{
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  float: right;  
}
select{
  border-radius: 5px;
}
select#form_idSR{ float: right; }
label#form_nomEvt{ float: left; }
label#form_type{ float: left; }

div#form_jourD{ float: right; }
div#form_jourF{ float: right; }
div#form_hDebut{ float: right; }
div#form_hFin{ float: right; }

dialog#Agenda{ width: 60%; height: 60%; }
dialog#addEvt{ width: 25%;  height: 30%; }
button#Fermer{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 37%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Ajouter{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Annuler{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
    float: right;
}
</style> 

 {% endblock %}