{% extends 'menu.html.twig' %}

{% block title %}Evènement !{% endblock %}
{% block body %}  


<nav>
  <a id="cal" href="{{path('calendrier')}}">Calendrier</a>
 <dialog id="Agenda">  {% include '@FullCalendar/Calendar/calendar.html.twig' %} <button id="Fermer" type="reset">Fermer</button></dialog>

 <dialog id="addEvt">   {{ form(eventform)}}  </dialog>
 <dialog id="editEvt">   {{ form(eventform)}}  </dialog>

 <menu>
  <img id="ag" src="img/agenda.png" width="80px" height="80px" align="left">
 	<img id="add" src="img/PlusBleu0.png" width="85px" height="85px" align="right">
  <img id="edit" src="img/modif.png" width="70px" height="70px" align="right">
  <img id="supp" src="img/supp.png" width="70px" height="70px" align="right">
 </menu>


<div id="bodyevt">
  <table width="80%" border="1"> 
    <tr>
    <td align="center" width="20%"><b>Nom de l'évènement</b></td>
    <td align="center" width="20%"><b>Description/Type</b></td>
    <td align="center" width="10%"><b>Date de Début</b></td>
    <td align="center" width="10%"><b>Date de Fin</b></td>
    <td align="center" width="12%"><b>Heure de Début</b></td>
    <td align="center" width="10%"><b>Heure de Fin</b></td>
    <td align="center" width="10%"><b>Lieu</b></td>
    <td align="center" width="10%"><b>Salle</b></td>
    </tr>
    </table>
    
</div>
 </nav>

 <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>

 	<script>
      (function(){
    var updateButton = document.getElementById('ag');
    var cancelButton = document.getElementById('Fermer')

    //Update bouton ouvrir la boite de dialogue
    updateButton.addEventListener('click', function(){
      document.getElementById('Agenda').showModal();
    });

    //Bouton pour fermer la boite de dialogue
    cancelButton.addEventListener('click', function(){
      document.getElementById('Agenda').close();
    });
  })();

  //Action image add
  (function() {
    var updateButton = document.getElementById('add');
    var cancelButton = document.getElementById('form_Annuler');


    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      document.getElementById('addEvt').showModal();
    });

    // Bouton pour fermer la boîte de dialogue
    cancelButton.addEventListener('click', function() {
      document.getElementById('addEvt').close();
    });

  })();

  //Action image edit
  (function() {
    var updateButton = document.getElementById('edit');
    var cancelButton = document.getElementById('form_Annuler');


    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      document.getElementById('editEvt').showModal();
    });

    // Bouton pour fermer la boîte de dialogue
    cancelButton.addEventListener('click', function() {
      document.getElementById('editEvt').close();
    });

  })();


    

</script>


<style type="text/css">
table{ margin-left: 9%; position: absolute; }
img#add { margin-right: 2.5%; }
img#edit {     margin-top: 8%;    margin-right: -5%; }
img#supp { margin-top: 16%; margin-right: -5% }

input{
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  float: right;  
}
select{
  border-radius: 5px;
}
select#form_idSR{ float: right; }
label#form_nomEvt{ float: left; }
label#form_type{ float: left; }

div#form_jourD{ float: right; }
div#form_jourF{ float: right; }
div#form_hDebut{ float: right; }
div#form_hFin{ float: right; }

dialog#Agenda{ width: 60%; height: 60%; }
dialog#addEvt{ width: 25%;  height: 30%; }
button#Fermer{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 37%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Ajouter{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Annuler{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
    float: right;
}
</style> 

 {% endblock %}