{% extends 'menu.html.twig' %}

{% block title %}Salles de réunion !{% endblock %}
{% block body %}  
<div class="bloc" id="acc">

<div id="bodysal">
  <table width="80%" border="1" align="center"> 
  	  <caption>Voir &amp; Réserver une salle de réunion</caption>

    <tr id="tit">
    <td align="center" width="12%"><b>Nom de la Salle</b></td>
    <td align="center" width="9%"><b>Nombre Total de place</b></td>
    <td align="center" width="10%"><b>Nombre de personne prévu</b></td>
    <td align="center" width="12%"><b>Date &amp; Heure d'occupation début</b></td>
    <td align="center" width="12%"><b>Date &amp; Heure d'occupation fin</b></td>
    <td align="center" width="8%"><b>Lieu</b></td>
    <td align="center" width="8%"><b>Statut</b></td>
    <td align="center" width="6%" colspan=2><b>Outils</b></td> 
    </tr>
          {% for salle in liste %}
       {% set fooo = salle.idSr|split('.') %}
    <tr id="scroll">
      <td id="d" >{{salle.nomsr}}</td>
      <td id="d" align="right">{{salle.nbplacetotal}}</td>
      <td id="d" align="right">{{salle.nbpers}}</td>
      <td id="d">{{salle.dateD|date('d-m-Y H:i:s')}}</td>
      <td id="d">{{salle.dateF|date('d-m-Y H:i:s')}}</td>
      <td id="d" align="center">{{salle.lieu}}</td>
      <td id="d" align="center">{{salle.idStatut.libeller}}</td>
     </tr>
   			 {% endfor %} 

    </table>
    
</div>

<hr>
 <section id="list">{{ form(sallesform)}}</section>

</div> 
<style type="text/css">
td{margin : auto;}
div#acc{
    width: 98.9%;
    height : 450px;
    margin-top:10px;
    margin-left: 10px;
  background-color : white; 
  
}

caption{
    font-family: 'BlackChancery';
    text-decoration: bold;
    font-size : 20px;
}
label{
    font-family: 'BlackChancery';
    text-decoration: bold;
    font-size : 20px;
}
section#list{ column-count: 2; }
tr#tit{ background: -webkit-linear-gradient(bottom , #badeec 0pt, #bfdbe6 50%, #bfdbe6 51%, #f7f2d0 100%) repeat scroll 0 0 transparent; }
tr,td{padding-left:5px;}
table{ height : 40px; overflow: auto; }
button{
	 font-family:'BlackChancery' ; 
	 font-size:  24px ;
	 border-radius: 5px;
	
    margin-left: 60%;
    margin-right: 45%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;

}
</style>

{% endblock %}