{% extends 'menu.html.twig' %}

{% block title %}Salles de réunion !{% endblock %}
{% block body %}  
<div class="bloc" id="acc">
<section id="list">{{ form(sallesform)}}</section>

<br>
<hr>
<div id="bodysal">
  <table  border="1" align="center"> 
  	  <caption><b>Voir &amp; Réserver une salle de réunion</b></caption>

    <tr id="tit">
    <td align="center" width="12%"><b>Nom de la Salle</b></td>
    <td align="center" width="9%"><b>Nombre Total de place</b></td>
    <td align="center" width="10%"><b>Nombre de personne prévu</b></td>
    <td align="center" width="12%"><b>Date &amp; Heure d'occupation début</b></td>
    <td align="center" width="12%"><b>Date &amp; Heure d'occupation fin</b></td>
    <td align="center" width="5%"><b>Lieu</b></td>
    <td align="center" width="5%"><b>Statut</b></td>
    <td align="center" width="3%" colspan=2><b>Outils</b></td> 
    </tr>
          {% for salle in liste %}
       {% set fooo = salle.idSr|split('.') %}
    <tr id="scroll">
      <td id="d" >{{salle.nomsr}}</td>
      <td id="d" align="right">{{salle.nbplacetotal}}</td>
      <td id="d" align="right">{{salle.nbpers}}</td>
      <td id="d">{{salle.dateD|date('d-m-Y    H:i:s')}}</td>
      <td id="d">{{salle.dateF|date('d-m-Y    H:i:s')}}</td>
      <td id="d" align="center">{{salle.lieu}}</td>
      <td id="d" align="center">{{salle.idStatut.libeller}}</td>
      <td id="d" align="center"> 
       <a onclick="modif()" href="/salles?idSr={{salle.idSr}}" >
      	<img src="img/modif.png" width="15px" height="15px">
      	</a>
      </td>
     </tr>
   			 {% endfor %} 

    </table>
    
</div>
  <dialog id="editSal"> {{ form(sallesMform)}}</dialog>

</div> 
<script type="text/javascript">
	 function modif(){
	// body...


	addEventListener('click', function(){
	document.getElementById('editSal').showModal();
	});


}
</script>
<style type="text/css">
div#acc{ height: 500px; }
div#bodysal{ margin-top: 2%; height:325px; overflow: scroll; }
caption{
    font-family: 'BlackChancery';
    text-decoration: bold;
    font-size : 20px;
}
label{
    font-family: 'BlackChancery';
    text-decoration: bold;
    font-size : 20px;
}
section#list{ margin-top : 20px; margin-left :20px; margin-right:20px; background-color:#dcdcdc; column-count: 5;}
tr#tit{ background: -webkit-linear-gradient(bottom , #badeec 0pt, #bfdbe6 50%, #bfdbe6 51%, #f7f2d0 100%) repeat scroll 0 0 transparent; }
tr,td{padding-left:5px;}
table{   margin-left:5px; margin-right:5px; overflow: scroll; }
input#form_nbpers{ width :40px; }
select{
	background:-webkit-linear-gradient(bottom , #dad4d4 0pt, #f9f9f9 50%, #fffbfb 51%, #e2e2e2 100%) repeat scroll 0 0 transparent;
	border-radius: 15px;
	font-family: cursive;
	font-size: 14px;
}
input{
	background:-webkit-linear-gradient(bottom , #dad4d4 0pt, #f9f9f9 50%, #fffbfb 51%, #e2e2e2 100%) repeat scroll 0 0 transparent;
	border-radius: 15px;
	font-family: cursive;
	font-size: 14px;
}

input#form_dateD_date{ 	width: 126px;  } input#form_dateD_time { width: 65px; }
input#form_dateF_date{ 	width: 126px; } input#form_dateF_time { width: 65px; }
button{
	 font-family:'BlackChancery' ; 
	 font-size:  24px ;
	 border-radius: 5px;
	margin-top: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;

}
dialog#editSal{ width: 25%;  height: 30%; }
button#form_Modifier{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Annuler{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
    float: right;
}
</style>

{% endblock %}