{% extends 'menu.html.twig' %}

{% block title %}Salles de réunion !{% endblock %}
{% block body %}  

<dialog id="addRes">   {{ form(sallesform)}}  </dialog>

<div class="bloc" id="acc">

 <button id="btn" type="button">Réserver une salle !</button>

<br>
<hr>
<div id="bodysal">
  <table  id="Un" border="1" align="center"> 
    <tbody>
  	  <caption><b>Voir les salles de réunion</b></caption>

    <tr id="tit">
    <td align="center" width="12%"><b>Nom de la Salle</b></td>
    <td align="center" width="5%"><b>Nombre Total de place</b></td>
    <td align="center" width="3%"><b>Lieu</b></td>

    </tr>
     
 {% for sal in listes %}
       {% set fooo = sal.idSr %}
    <tr id="scroll">
      <td id="d">{{sal.nomsr}}</td>
      <td id="d" align="right">{{sal.nbplacetotal}}</td>
       <td id="d" align="center">{{sal.lieu}}</td>    
     
{% endfor %} 
  </tr>
     </table>
     </tbody>


    <table id="Deux" border="1" align="center">
       <caption><b>Voir les Réservations</b></caption>
      <tr id="tit">
        <td align="center" width="10%"><b>Nom de la Salle</b></td>
        <td align="center" width="5%"><b>Nombre de personne prévu</b></td>
        <td align="center" width="10%"colspan=2><b>Date &amp; Heure d'occupation début</b></td>
        <td align="center" width="10%"colspan=2><b>Date &amp; Heure d'occupation fin</b></td>
        <td align="center" width="8%"><b>Lieu </b></td>
        <td align="center" width="6%" colspan=2><b>Outils</b></td>
      </tr>

   {% for res in liste %}
       {% set fooo = res.idRes %}
       <tr id="scroll">
      <td id="d">{{res.idSr.nomsr}}</td>
      <td id="d" align="right">{{res.nbpers}}</td>
      <td id="d">{{res.dateD|date('d-m-Y')}} </td>
        <td id="d">{{res.dateD|date('H:i:s')}}</td>
      <td id="d">{{res.dateF|date('d-m-Y ')}}</td>
       <td id="d">{{res.dateD|date(' H:i:s')}}</td>
       <td id="d">{{res.idSr.lieu}}</td>
      <td align="center">
    <main class="js-document">
             <a href="{{path ('editRes', {'idRes' : res.idRes }) }}">
                <img src="img/modif.png" width="30px" height="30px" align="center">
              </a>
          </main>
      </td>
      <td align="center">
         <a href="/deleteRes?idRes={{res.idRes}}"><img src="img/poubelles.png" width="30px" height="30px"></a>
      </td>
    </tr> 
   {% endfor %}    
     </tr>
         
</table>
</div>
 

</div> 
    <script type="text/javascript">

  //Action Button Réserver une Salle !
  (function() {
    var updateButton = document.getElementById('btn');
    var cancelButton = document.getElementById('form_Annuler');


    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      document.getElementById('addRes').showModal();
    });

    // Bouton pour fermer la boîte de dialogue
    cancelButton.addEventListener('click', function() {
      document.getElementById('addRes').close();
    });

  })();



</script>

<style type="text/css">
div#acc{ height: 500px; text-align: center; }
div#bodysal{ margin-top: 2%; height:359px; overflow: scroll; }

caption{
    font-family: 'BlackChancery';
    text-decoration: bold;
    font-size : 20px;
}

tr#tit{ background: -webkit-linear-gradient(bottom , #badeec 0pt, #bfdbe6 50%, #bfdbe6 51%, #f7f2d0 100%) repeat scroll 0 0 transparent; }
tr,td#d{padding-left:5px; }
table#Un{ width: 25%; float : left;}
table#Deux{ width: 70%; float: right; }
table{   margin-left:5px; margin-right:5px; overflow: scroll; }

select{
	background:-webkit-linear-gradient(bottom , #dad4d4 0pt, #f9f9f9 50%, #fffbfb 51%, #e2e2e2 100%) repeat scroll 0 0 transparent;
	border-radius: 5px;
	font-family: cursive;
	font-size: 14px;
}
label#form_idSr, #form_nbpers, #form_dateD, #form_dateF { float: left; }
select#form_idSr{ float: right; }
input#form_nbpers{ float: right;   margin-left: -76%; margin-right: -33%; width: 50px; }
div#form_dateD, #form_dateF{ float: right;   margin-left: -76%; margin-right: 2%; }
 

input{
	background:-webkit-linear-gradient(bottom , #dad4d4 0pt, #f9f9f9 50%, #fffbfb 51%, #e2e2e2 100%) repeat scroll 0 0 transparent;
	border-radius: 5px;
	font-family: cursive;
	font-size: 14px;    

}

input#form_dateD_date{ 	width: 130px;  } input#form_dateD_time { width: 75px; }
input#form_dateF_date{ 	width: 130px; } input#form_dateF_time { width: 75px; }
button#btn{
	 font-family:'BlackChancery' ; 
	 font-size:  24px ;
	 border-radius: 5px;
	margin-top: 1%;
    background-color: black;
    color:white;
    height: 50px;
    width: 350px;
    text-align: center;

}
dialog#addRes{ width: 28%;  height: 20%; }
button#form_Réserver{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Annuler{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
    float: right;
}


</style>
{% endblock %} 